
body
 { 
  font-family: Verdana;
 
}

#past { 
  height: 500px;
 
}

p
 { 
  font-size: 16px;
  font-family: Verdana;
 
}

h1, h2, h3
{ 
  font-family: Verdana;
}

.navbar-fixed-left {
  width: 120px;
  position: fixed;
  z-index: 999;
  border-radius: 0;
  height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 120x;
  margin-top: 60px;
}

.navbar-fixed-left + .container {
  padding-left: 60px;
}

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
  margin-top: -50px;
  margin-left: 120px;
}
#about { 
  background-color: lightgrey;
  font-family: Verdana;
 
}
#past { 
  background-color: black;
  color: lightgrey;
   font-family: Verdana;
}
